/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}





/* base styles */
body {
	overflow: hidden;
	background: #292121;
}

#text {
	position: absolute;
	left: 50%;
	margin-left: -328px;
	height: 124px;
	width: 656px;
	bottom: 64px;
	background: url(http://manikfoundasecret.number61.net/sprite-sheet@4x.png) 0px -700px;
	display: none;
}
#text.visible {
	display: block;
}

#gloom {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000022;
	opacity: 0.85;
	pointer-events: none;
	-webkit-transition: opacity 800ms linear;
	   -moz-transition: opacity 800ms linear;
	        transition: opacity 800ms linear;
}

#gloom.full-light {
	opacity: 0;
}
#gloom.half-light {
	opacity: 0.5;
}

#arch {
	position: absolute;
	width: 192px;
	left: 50%;
	margin-left: -96px;
	height: 128px;
	bottom: 0;
	background: url(http://manikfoundasecret.number61.net/sprite-sheet@4x.png) -512px -96px;
}

#cave {
	position: absolute;
	overflow: hidden;
	width: 576px;
	left: 50%;
	margin-left: -288px;
	height: 448px;
	top: 50%;
	margin-top: -224px;
	background: url(http://manikfoundasecret.number61.net/sprite-sheet@4x.png) no-repeat 0 -232px;
}

#treasure {
	position: absolute;
	margin-left: -32px;
	left: 50%;
	top: 128px;
	background: url(http://manikfoundasecret.number61.net/sprite-sheet@4x.png) -344px -96px;
	height: 64px;
	width: 64px;

	cursor: pointer;
}

#treasure.open {
	background: url(http://manikfoundasecret.number61.net/sprite-sheet@4x.png) -428px -96px;
	cursor: default;
}

#manik {
	position: absolute;
	left: 50%;
	margin-left: -32px;
	bottom: -128px;
	width: 64px;
	height: 96px;
}

#manik .sprite {
	position: absolute;
	width: 64px;
	height: 96px;
	background: url(http://manikfoundasecret.number61.net/sprite-sheet@4x.png) no-repeat 0 0;
}

#manik.step-1 {
	bottom: 128px;
	-webkit-animation: enter 1150ms 1 linear;
	   -moz-animation: enter 1150ms 1 linear;
	        animation: enter 1150ms 1 linear;
}

#manik.step-2 {
	bottom: 192px;
	-webkit-animation: walkToChest 380ms 1 linear;
	   -moz-animation: walkToChest 380ms 1 linear;
	        animation: walkToChest 380ms 1 linear;
}

#manik.walking .sprite {
	-webkit-animation: walk 380ms steps(1, start) infinite;
	   -moz-animation: walk 380ms steps(1, end) infinite;
	        animation: walk 380ms steps(1, end) infinite;
}




/* Torches */
.torch {
	position: absolute;
	display: block;
	width: 64px;
	height: 64px;
	top: 128px;
	background: url(http://manikfoundasecret.number61.net/sprite-sheet@4x.png) no-repeat 0 -96px;
	cursor: pointer;
}

.torch:nth-child(1) {
	left: 128px;
}

.torch:nth-child(2) {
	right: 128px;
}

.torch.on-fire {	
	-webkit-animation: burn 1s steps(1, end) infinite;
	   -moz-animation: burn 1s steps(1, end) infinite;
	        animation: burn 1s steps(1, end) infinite;
}


#treasure > div {
	display: none;

	width: 48px;
	height: 44px;
	margin: 0 auto;
	position: relative;

	background-color: #0050ab;
	background-image: url(http://manikfoundasecret.number61.net/sprite-sheet@4x.png);
	background-repeat: no-repeat;
	background-position: -436px -172px;
}

#treasure a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	display: block;
}

#treasure.open > div {
	display: block;
	top: -32px;
	-webkit-animation: item 380ms linear;
	   -moz-animation: item 380ms linear;
	        animation: item 380ms linear;
}






/* Animation keyframes 
=====================================================*/
@-webkit-keyframes burn {
	0% 	 {background-position: -64px -96px;}
	33%  {background-position: -128px -96px;}
	66%  {background-position: -192px -96px;}
	100% {background-position: -256px -96px;}
}
@-moz-keyframes burn {
	0% 	 {background-position: -64px -96px;}
	33%  {background-position: -128px -96px;}
	66%  {background-position: -192px -96px;}
	100% {background-position: -256px -96px;}
}

@-webkit-keyframes item {
	0% {
		top: 0;
	}
	100% {
		top: -32px;
	}
}
@-moz-keyframes item {
	0% {
		top: 0;
	}
	100% {
		top: -32px;
	}
}
@keyframes item {
	0% {
		top: 0;
	}
	100% {
		top: -32px;
	}
}

@-webkit-keyframes enter {
	0% 	 {bottom: -64px;}
	100% {bottom: 128px;}
}
@-moz-keyframes enter {
	0% 	 {bottom: -64px;}
	100% {bottom: 128px;}
}
@keyframes enter {
	0% 	 {bottom: -64px;}
	100% {bottom: 128px;}
}


@-webkit-keyframes walkToChest {
	0% 	 {bottom: 128px;}
	100% {bottom: 192px;}
}
@-moz-keyframes walkToChest {
	0% 	 {bottom: 128px;}
	100% {bottom: 192px;}
}
@keyframes walkToChest {
	0% 	 {bottom: 128px;}
	100% {bottom: 192px;}
}


@-webkit-keyframes walk {
	0% 	 {background-position: -64px 0;}
	11%  {background-position: -128px 0;}
	22%  {background-position: -192px 0;}
	33%  {background-position: -256px 0;}
	44%  {background-position: -320px 0;}
	55%  {background-position: -384px 0;}
	66%  {background-position: -448px 0;}
	77%  {background-position: -512px 0;}
	88%  {background-position: -576px 0;}
	100% {background-position: -640px 0;}
}
@-moz-keyframes walk {
	0% 	 {background-position: -64px 0;}
	11%  {background-position: -128px 0;}
	22%  {background-position: -192px 0;}
	33%  {background-position: -256px 0;}
	44%  {background-position: -320px 0;}
	55%  {background-position: -384px 0;}
	66%  {background-position: -448px 0;}
	77%  {background-position: -512px 0;}
	88%  {background-position: -576px 0;}
	100% {background-position: -640px 0;}
}
@keyframes walk {
	0% 	 {background-position: -64px 0;}
	11%  {background-position: -128px 0;}
	22%  {background-position: -192px 0;}
	33%  {background-position: -256px 0;}
	44%  {background-position: -320px 0;}
	55%  {background-position: -384px 0;}
	66%  {background-position: -448px 0;}
	77%  {background-position: -512px 0;}
	88%  {background-position: -576px 0;}
	100% {background-position: -640px 0;}
}