/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}


/* base styles */
body {
	overflow: hidden;
	background: #292121;
}

#text {
	position: absolute;
	width: 0;
	height: 50px;
	top: 30px;
	background: url(text@10x.png) no-repeat 0 0;
}

#text.go {
	left: 50%;
	width: 860px;
	margin-left: -430px;
	-webkit-animation: reveal-text 1.3s 1 linear;
	-moz-animation: reveal-text 1.3s 1 linear;
}

#gloom {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000022;
	opacity: 0.75;
	pointer-events: none;
	-webkit-transition: opacity 800ms linear;
	-moz-transition: opacity 800ms linear;
}

#gloom.full-light {
	opacity: 0;
}
#gloom.half-light {
	opacity: 0.5;
}

#arch {
	position: absolute;
	width: 192px;
	left: 50%;
	margin-left: -96px;
	height: 128px;
	bottom: 0;
	background: url(sprite-sheet@4x.png) -512px -96px;
}

#cave {
	position: absolute;
	overflow: hidden;
	width: 576px;
	left: 50%;
	margin-left: -288px;
	height: 448px;
	top: 50%;
	margin-top: -180px;
/*	background: url(door-glow@4x.png) no-repeat 50% 100%,
				url(corner-nw@4x.png) no-repeat 0 0,
				url(corner-sw@4x.png) no-repeat 0 100%,
				url(corner-ne@4x.png) no-repeat 100% 0,
				url(corner-se@4x.png) no-repeat 100% 100%,
				url(wall-n@4x.png) repeat-x 0 0,
				url(wall-s@4x.png) repeat-x 0 100%,
				url(wall-w@4x.png) repeat-y 0 100%,
				url(wall-e@4x.png) repeat-y 100% 0,
				url(floor@4x.png) center;*/
	background: url(sprite-sheet@4x.png) no-repeat 0 -232px;
}

#treasure {
	position: absolute;
	margin-left: -32px;
	left: 50%;
	top: 128px;
	background: url(sprite-sheet@4x.png) -344px -96px;
	height: 64px;
	width: 64px;
}



#manik {
	position: absolute;
	left: 50%;
	margin-left: -32px;
	bottom: 128px;
	width: 64px;
	height: 96px;
	-webkit-animation: enter 1200ms 1 linear;
	-moz-animation: enter 1200ms 1 linear;
}

#manik-sprite {
	position: absolute;
	width: 64px;
	height: 96px;
	background: url(sprite-sheet@4x.png) no-repeat 0 0;
}

#manik-sprite.walking {
	-webkit-animation: walk 360ms steps(1, end) infinite;
	-moz-animation: walk 360ms steps(1, end) infinite;
}



/* Torches */
.torch {
	position: absolute;
	display: block;
	width: 64px;
	height: 64px;
	top: 128px;
	background: url(sprite-sheet@4x.png) no-repeat 0 -96px;
	cursor: pointer;
}

.torch:nth-child(1) {
	left: 128px;
}

.torch:nth-child(2) {
	right: 128px;
}

.torch.on-fire {	
	-webkit-animation: burn 1s steps(1, end) infinite;
	-moz-animation: burn 1s steps(1, end) infinite;
}


/* Animation keyframes 
=====================================================*/
@-webkit-keyframes burn {
	0% 	 {background-position: -64px -96px;}
	33%  {background-position: -128px -96px;}
	66%  {background-position: -192px -96px;}
	100% {background-position: -256px -96px;}
}
@-moz-keyframes burn {
	0% 	 {background-position: -64px -96px;}
	33%  {background-position: -128px -96px;}
	66%  {background-position: -192px -96px;}
	100% {background-position: -256px -96px;}
}


@-webkit-keyframes reveal-text {
	0% {width: 0;}
	100% {width: 860px;}
}
@-moz-keyframes reveal-text {
	0% {width: 0;}
	100% {width: 860px;}
}


@-webkit-keyframes enter {
	0% 	 {bottom: -64px;}
	100% {bottom: 128px;}
}
@-moz-keyframes enter {
	0% 	 {bottom: -64px;}
	100% {bottom: 128px;}
}


@-webkit-keyframes walk {
	0% 	 {background-position: -64px 0;}
	11%  {background-position: -128px 0;}
	22%  {background-position: -192px 0;}
	33%  {background-position: -256px 0;}
	44%  {background-position: -320px 0;}
	55%  {background-position: -384px 0;}
	66%  {background-position: -448px 0;}
	77%  {background-position: -512px 0;}
	88%  {background-position: -576px 0;}
	100% {background-position: -640px 0;}
}
@-moz-keyframes walk {
	0% 	 {background-position: -64px 0;}
	11%  {background-position: -128px 0;}
	22%  {background-position: -192px 0;}
	33%  {background-position: -256px 0;}
	44%  {background-position: -320px 0;}
	55%  {background-position: -384px 0;}
	66%  {background-position: -448px 0;}
	77%  {background-position: -512px 0;}
	88%  {background-position: -576px 0;}
	100% {background-position: -640px 0;}
}